body,.container{
    height:400vh;
}
.container{
    background-color: rgba(0, 0, 0, 0.9);
}
.movies-container{
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    background-image: url(/images/comics-img2.jpg);

}
.movie-card{
    display: flex;
    flex-direction: column;
    width: 31vw;
    justify-content: center;
    align-items: center;
    margin: 1% 0;
}
.movie-card img{
    width: 60%;
}
.movie-card h1{
    width: 60%;
    font-size:18px;
}
.movie-card h1:hover{
    color: #CE1212;
}
.movie-card p{
    width: 60%;
    font-size: 14px;
    margin: 1%;
}
