body{
    margin:0;
    height:200vh;
    display: flex;
    flex-direction: column;
    color: #fff;
    font-family: Cambria;
}
.container{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    height: 200vh;
    grid-template-areas: 
    "main main main main"
    "main main main main"
    "main main main main"
    "main main main main"
    "main main main main"
    ;
}
.header{
  background-color: #000;
  height: 30vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10vw;
}
.logo img{
    width:20vw;
}
.logo{
    width:10vw;
}
a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 2vw;
}
nav li{
    list-style: none;
}
nav a:hover, .icons a:hover{
    color: #f00;
}
@media screen and (max-width:600px){
    nav ul{
        flex-direction: column;
        font-size: 12px;
    }
    .header{
        gap:0vw;
    }
    .logo{
        width: 25vw;
    }
    .logo img{
        width: 130%;
    }
}
.main{
    grid-area: main;
    background-color: #f00;
}
.footer{
    display: flex;
    height: 40vh;
    background-color: #000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vh;
}
.icons{
    display: flex;
    gap: 2vw;
}