body{
    margin:0;
    height:100vh;
    display: flex;
    flex-direction: column;
    color: #fff;
}
.container{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    height: 100vh;
    grid-template-areas: 
    "main main main main"
    "main main main main"
    "main main main main"
    "main main main main"
    "main main main main"
    ;
}
.header{
  background-color: #000;
  height: 30vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap:50vw;
}
.logo img{
    width:15vw;
}
a{
    text-decoration: none;
    color: #fff;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 2vw;
}
nav li{
    list-style: none;
}
nav a:hover{
    color: #f00;
}
.main{
    grid-area: main;
    background-color: #f00;
}
.footer{
    height: 30vh;
    background-color: #000;
}